@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/
:root{
    --bright-orange: hsl(31,77%,52%);
    --dark-cyan:hsl(184,100%,22%);
    --very-dark-cyan:hsl(179,100%,13%);

    --transparent-white-p:hsla(0,0%,100%,0.75);
    --very-light-gray-b-h-b: hsl(0,0%,95%);
}

.container{
    display: flex;
    margin: 200px auto;
    max-width: 1440px;
    width: 100%;
}

.container h1{
    text-transform: uppercase;
    color: var(--very-light-gray-b-h-b);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.container p{
    color: var(--transparent-white-p);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.sedan,
.suv,
.luxury{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: flex-start;
}

.sedan{
    background-color: var(--bright-orange);
    border-radius: 8px 0 0 8px;
}
.sedan button{
    color: var(--bright-orange);
}

.suv{
 background-color: var(--dark-cyan);
}
.suv button{
    color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
    border-radius: 0 8px 8px 0;
}
.luxury button{
    color: var(--very-dark-cyan);
}

.button button{
    border: none;
    background-color: var(--very-light-gray-b-h-b);
    width: 130px;
    height: 40px;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}



.sedan img,
.suv img,
.luxury img{
    width: 64px;
    margin-bottom: 15px;
}

@media screen and (max-width:790px){
    .container{
        flex-direction: column;
        max-width: 375px;
        width: 100%;
    }
    .sedan{
        border-radius: 8px 8px 0 0;
    }
    .luxury{
        border-radius: 0 0 8px 8px;
    }
}